<!-- templates/registration/login.html -->
{% extends "stories/base.html" %}

{% block title %}<title>Log In</title>{% endblock %}
{% block nav %} {% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible">
            <strong>Please correct the following errors:</strong>
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li><strong>{{ field|capfirst }}:</strong> {{ error }}</li>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="container">
    <div class="wrapper">
        <div class="title"><span>Login Form</span></div>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <i class="fa-solid fa-user"></i>
                {{ form.username }}
            </div>
            <div class="row">
                <i class="fa-solid fa-lock"></i>
                {{ form.password }}
            </div>
            <div class="pass"><a href="#">Forgot password?</a></div>
            <div class="row button">
                <input type="submit" value="Login">
            </div>
            <div class="signup-link">Not a member? <a href="{% url 'signup' %}">Signup now</a></div>
        </form>
    </div>
    </div>
{% endblock %}
