<!-- templates/registration/login.html -->
{% extends "stories/base.html" %}

{% block title %}<title>Log In</title>{% endblock %}
{% block nav %} {% endblock %}

{% block content %}

    <div class="container">
    <div class="wrapper">
        <div class="title"><span>Login Form</span></div>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <i class="fa-solid fa-user"></i>
                {{ form.username }}
            </div>
            <div class="row">
                <i class="fa-solid fa-lock"></i>
                {{ form.password }}
            </div>
            <div class="pass"><a href="#">Forgot password?</a></div>
            <div class="row button">
                <input type="submit" value="Login">
            </div>
            <div class="signup-link">Not a member? <a href="{% url 'signup' %}">Signup now</a></div>
        </form>
    </div>
{#    <div class="card center-row position-absolute top-50 start-50 translate-middle bg-dark text-white"#}
{#         style="width:250px;height:350px;">#}
{#        <h2 class="p-4">Log In</h2>#}
{#        <div class="card-body">#}
{#            <form method="post">#}
{#                <div class="mb-3">#}
{#                    <label for="id_username">Email address:</label>#}
{#                    {{ form.username }}#}
{#                </div>#}
{#                <div class="mb-3">#}
{#                    <label for="id_password">Password:</label>#}
{#                    {{ form.password }}#}
{#                </div>#}
{#                <button class="btn btn-success btn-lg" type="submit">Log In</button>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{% endblock %}
