<!-- templates/registration/signup.html -->
{% extends "stories/base.html" %}

{% block title %}<title>Sign Up</title>{% endblock %}
{% block nav %} {% endblock %}
{% block content %}
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible">
                <strong>Please correct the following errors:</strong>
                <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li><strong>{{ field|capfirst }}:</strong> {{ error }}</li>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            {% endfor %}
                        {% endfor %}
                </ul>
            </div>
        {% endif %}
    <div class="container">

        <div class="wrapper">
            <div class="title"><span>Sign up form</span></div>

            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <i class="fa-solid fa-user"></i>
                    {{ form.email }}
                </div>
                <div class="row">
                    <i class="fa-solid fa-lock"></i>
                    {{ form.password1 }}
                </div>
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
                <div class="row">
                    <i class="fa-solid fa-lock"></i>
                    {{ form.password2 }}

                </div>
                <div class="pass"><a href="{% url 'login' %}">Already Have an account?</a></div>
                <div class="row button">
                    <input type="submit" value="Sign up">
                </div>
            </form>
        </div>
    </div>

{% endblock %}
