@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
  --purple-main:#8c82d7;
  --purple-sec:#aca6e7;
  --purple-bold:#b48ed6;
}
.text-white {
    color: white !important;
  font-family: 'Poppins', sans-serif !important;;
}

.center-row
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  background: var(--purple-main);
  overflow: hidden;
}
::selection{
  background: rgba(26,188,156,0.3);
}
.container{
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
}
.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper .title{
  height: 90px;
  background: var(--purple-sec);
  border-radius: 5px 5px 0 0;
  color: #f3f9ff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus{
  border-color: #ffffff;
  box-shadow: inset 0px 0px 2px 2px rgb(44, 112, 227);
}
form .row input::placeholder{
  color: #999;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: var(--purple-bold);
  border: 1px solid #ffffff;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}

.wrapper form .pass a{
  color: #47c2eb;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
  color: red;
}
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: var(--purple-bold);
  border: 1px solid #fcfcfc;
  cursor: pointer;
}
form .button input:hover{
  background: #12876f;
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: #030303 !important;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}