{% extends 'stories/base.html' %}
{% load static %}
{% load form_tags %}  <!-- Load the custom template tags here -->

{% block alternate-style %}
    <link href="{% static 'css/create.css' %}" rel="stylesheet">
    <link href="{% static 'css/register.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="legend text-center mt-5 py-5 text-white"
         style="height:500px;object-fit: scale-down ; background-image: url('/media/images/background.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; background-blend-mode: darken; color: #fff;">
        <h2><i class="fa fa-pencil-alt" aria-hidden="true"></i>Update your journey/Life Events!</h2>
        <br>
    </div>
    <div class="content w-75 p-3">
        <form id="eventForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}" class="form-label">Life event</label>
                {{ form.title|add_attributes:"class=form-control,placeholder=Enter your title/heading" }}
            </div>
            <div class="form-group">
                <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
                {{ form.description|add_attributes:"class=form-control,placeholder=What was this event about?" }}
            </div>
            <div class="form-group">
                <label for="{{ form.date.id_for_label }}" class="form-label">Date</label>
                {{ form.date|add_attributes:"class=form-control,placeholder=What date was it?" }}
            </div>
            <div class="form-group">
                <label for="{{ form.image.id_for_label }}" class="form-label">Add image</label>
                {{ form.image|add_attributes:"class=form-control,id=event_image" }}

            </div>
            <div id="image_wrapper"></div>
            <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="{% static 'script/pasteclip.js' %}">
    </script>
{% endblock %}

