{% extends 'stories/base.html' %}
{% load static %}
{% block alternate-style %}
    <link href="{% static 'css/create.css' %}" rel="stylesheet">
    <link href="{% static 'css/register.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="legend text-center mt-5 py-5 text-white"
         style="height:500px;object-fit: scale-down ; background-image: url('/media/images/background.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; background-blend-mode: darken; color: #fff;">
        <h2><i class="fa fa-pencil-alt" aria-hidden="true"></i>Update your journey/Life Events!</h2>
        <br>
    </div>
    <div class="content w-75 p3">
        <form id="eventForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="event_id" class="form-label">Life event</label>
                <input type="text" class="form-control" name="title" maxlength="255" required=""
                       id="event_id" placeholder="Enter your title/heading">
            </div>
            <div class="form-group">
                <label for="description_id" class="form-label">Description</label>
                <textarea name="description" class="form-control" cols="40" rows="10" maxlength="500"
                          required="" id="description_id" placeholder="What was this event about?"></textarea>
            </div>
            <div class="form-group">
                <label for="event_date" class="form-label">Date</label>
                <input type="date" class="form-control" name="date" required=""
                       id="event_date" placeholder="What date was it?">
            </div>
            <div class="form-group">
                <label class="form-label">Insert story image</label>
                <input type="file" class="form-control" name="image" id="event_image">
            </div>
            <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="{% static 'script/pasteclip.js' %}">
    </script>
{% endblock %}

