{% extends 'stories/base.html' %}
{% load static %}
{% block alternate-style %}
    <link href="{% static 'css/create.css' %}" rel="stylesheet">
    <link href="{% static 'css/register.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="legend text-center mt-5 py-5 text-white"
         style="height:500px;object-fit: scale-down ; background-image: url('/media/images/background.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; background-blend-mode: darken; color: #fff;">
        <h2><i class="fa fa-pencil-alt" aria-hidden="true"></i> Leave Your Mark: Contribute Your Unique Story</h2>
        <br>
    </div>
    <div class="content w-75 p3">
        <form id="storyForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_story_name" class="form-label">Story Title</label>
                <input type="text" class="form-control" name="story_name" maxlength="255" required=""
                       id="id_story_name" placeholder="Enter your story title">
            </div>
            <div class="form-group">
                <label for="id_story_description" class="form-label">Description</label>
                <textarea name="story_description" class="form-control" cols="40" rows="10" maxlength="500"
                          required="" id="id_story_description" placeholder="What's your story about?"></textarea>
            </div>
            <div class="form-group">
                <label for="id_is_valid" class="form-label">Is this verify?</label>
                <input type="checkbox" class="form-check-input" name="is_valid" id="id_is_valid">
            </div>
            <div class="form-group">
                <label class="form-label">Insert story image</label>
                <input type="file" class="form-control" name="story_image" id="story_image" accept=".jpg, .jpeg, .png">
            </div>
            <div id="image_wrapper">

            </div>
            <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="{% static 'script/pasteclip.js' %}"></script>
{% endblock %}
