{% extends 'stories/base.html' %}
{% load static %}
{% block alternate-style %}
    <link href="{% static 'css/create.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/register.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="legend text-center mt-5 py-5 text-white"
         style="height:500px;object-fit: scale-down ; background-image: url('/media/images/background.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; background-blend-mode: darken; color: #fff;">
        <h2><i class="fa fa-pencil-alt" aria-hidden="true"></i> Leave Your Mark: Contribute Your Unique Story</h2>
        <br>
    </div>
    <div class="content w-75 p3">
        <form id="storyForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_story_name" class="form-label">Story Title</label>
                <input type="text" class="form-control" name="story_name" maxlength="255" required=""
                       id="id_story_name" placeholder="Enter your story title">
            </div>
            <div class="form-group">
                <label for="id_story_description" class="form-label">Description</label>
                <textarea name="story_description" class="form-control" cols="40" rows="10" maxlength="500"
                          required="" id="id_story_description" placeholder="What's your story about?"></textarea>
            </div>
            <div class="form-group">
                <label for="id_is_valid" class="form-label">Is this verify?</label>
                <input type="checkbox" class="form-check-input" name="is_valid" id="id_is_valid">
            </div>
            <div class="form-group">
                <label class="form-label">Insert story image</label>
                <input type="file" class="form-control" name="story_image" id="story_image" accept=".jpg, .jpeg, .png">
                <input type="hidden" name="cartoon_image" id="cartoon_image">
            </div>
            <div id="image_wrapper">
                <canvas id="originalCanvas" style="display: none;"></canvas>
                <canvas id="cartoonCanvas"></canvas>
            </div>
            <button type="button" id="saveButton" class="btn btn-primary">Apply Cartoon Effect</button>
            <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script async src="https://docs.opencv.org/4.x/opencv.js" type="text/javascript"></script>
    <script src="{% static 'script/pasteclip.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const storyImageInput = document.getElementById('story_image');
            const originalCanvas = document.getElementById('originalCanvas');
            const cartoonCanvas = document.getElementById('cartoonCanvas');
            const saveButton = document.getElementById('saveButton');
            const cartoonImageInput = document.getElementById('cartoon_image');

            storyImageInput.addEventListener('change', function (e) {
                const file = e.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (event) {
                        const img = new Image();
                        img.onload = function () {
                            originalCanvas.width = img.width;
                            originalCanvas.height = img.height;
                            const ctx = originalCanvas.getContext('2d');
                            ctx.drawImage(img, 0, 0);
                            originalCanvas.style.display = 'block';
                        };
                        img.src = event.target.result;
                    };
                    reader.readAsDataURL(file);
                }
            });

            saveButton.addEventListener('click', function () {
                const src = cv.imread(originalCanvas);
                const dst = new cv.Mat();
                cv.cvtColor(src, src, cv.COLOR_RGBA2RGB, 0);
                cv.bilateralFilter(src, dst, 9, 75, 75, cv.BORDER_DEFAULT);
                cv.cvtColor(dst, dst, cv.COLOR_RGB2GRAY, 0);
                cv.medianBlur(dst, dst, 7);
                cv.adaptiveThreshold(dst, dst, 255, cv.ADAPTIVE_THRESH_MEAN_C, cv.THRESH_BINARY, 9, 2);
                cv.cvtColor(dst, dst, cv.COLOR_GRAY2RGB, 0);
                cv.bitwise_and(src, dst, dst);

                // Resize the cartoonized image while maintaining the aspect ratio
                const maxWidth = 800;
                const maxHeight = 800;
                let newWidth = dst.cols;
                let newHeight = dst.rows;

                if (newWidth > newHeight && newWidth > maxWidth) {
                    newHeight = Math.round((maxWidth / newWidth) * newHeight);
                    newWidth = maxWidth;
                } else if (newHeight > newWidth && newHeight > maxHeight) {
                    newWidth = Math.round((maxHeight / newHeight) * newWidth);
                    newHeight = maxHeight;
                }

                const newSize = new cv.Size(newWidth, newHeight);
                cv.resize(dst, dst, newSize, 0, 0, cv.INTER_AREA);

                cv.imshow('cartoonCanvas', dst);
                src.delete();
                dst.delete();

                cartoonCanvas.toBlob(function (blob) {
                    const reader = new FileReader();
                    reader.onloadend = function () {
                        cartoonImageInput.value = reader.result;
                    };
                    reader.readAsDataURL(blob);
                }, 'image/png', 0.8);
            });
        });

    </script>
{% endblock %}
