{% extends 'stories/base.html' %}
{% load static %}
{% block alternate-style %}
    <link href="{% static 'css/detail.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container mt-5">

    <a href="{% url 'add_event' story_id=story.id %}" class="btn btn-primary">Add Events!</a>
    <div class="main-story">
        <img src="{{ story.story_image.url }}" alt="{{ story.story_name }}" class="main-story-image w-50 p-3">
        <h1>{{ story.story_name }}</h1>
        <p >{{ story.story_description }}</p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="timeline1">
                {% for event in story.events.all %}
                    <a href="#event{{ forloop.counter }}" class="timeline-date">{{ forloop.counter }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
        <div class="timeline">
            {% for event in story.events.all %}
                <div class="timeline-item w-auto p-3">

                    <div class="event-details" id="event{{ forloop.counter }}">
                        <img src="{{ event.image.url }}" alt="{{ event.title }}" class="event-image">
                        <div class="event-content">
                            <h4>{{ event.title }}</h4>
                            <p>{{ event.description }}</p>
                            <span class="timeline-date">{{ event.date }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
